@page "/SubmitMessage"
@model Chirp.Razor.Pages.SubmitMessageModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}


<h2>Submitting Message...</h2>
<p>Your message is being submitted. You will be redirected shortly.</p>


